@model IEnumerable<Movie>

<style>
    body {
        background-image: url("/images/hero.png");
    }
</style>

<div class="relative overflow-x-auto shadow-md my-24">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr class="text-lg">
                <th scope="col" class="px-6 py-3">
                    Movie Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Is Home
                </th>
                <th scope="col" class="px-6 py-3">
                    Is Active
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Movie in Model)
            {
                <tr
                    class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-blue-500 underline">
                        <a href="@Url.Action("Movie", "Movies", new { id = Movie.MovieId })">@Movie.Title</a>
                    </th>
                    <td class="px-6 py-4 capitalize">
                        @Movie.Category.Title
                    </td>
                    <td class="px-6 py-4 lowercase">
                        <a href="@Url.Action("ToggleIsHome", "Movies", new { id = Movie.MovieId })"
                            class="font-medium underline @(Movie.IsHome ? "text-emerald-500" : "text-rose-500")">
                            @Movie.IsHome
                        </a>
                    </td>
                    <td class="px-6 py-4 lowercase">
                        <a href="@Url.Action("ToggleIsActive", "Movies", new { id = Movie.MovieId })"
                            class="font-medium underline @(Movie.IsActive ? "text-emerald-500" : "text-rose-500")">
                            @Movie.IsActive
                        </a>
                    </td>
                    <td class="px-6 py-4">
                        <a asp-controller="Movies" asp-action="Edit" asp-route-id="@Movie.MovieId"
                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                    <td class="px-6 py-4">
                        <button data-modal-target="default-modal-@Movie.MovieId"
                            data-modal-toggle="default-modal-@Movie.MovieId" type="button"
                            class="font-medium text-rose-600 dark:text-rose-500 hover:underline">Delete</button>
                    </td>
                </tr>

                <!-- Main modal -->
                <div id="default-modal-@Movie.MovieId" tabindex="-1" aria-hidden="true"
                    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-2xl max-h-full">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <!-- Modal header -->
                            <div
                                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                    Confirm deletion
                                </h3>
                                <button type="button"
                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    data-modal-hide="default-modal-@Movie.MovieId">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="p-4 md:p-5 space-y-4">
                                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                    "@Movie.Title" Are you sure you want to delete the selected movie?
                                </p>
                            </div>
                            <!-- Modal footer -->
                            <div
                                class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                                <a href="@Url.Action("Delete", "Movies", new { id = Movie.MovieId })"
                                    class="text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800">Delete</a>
                                <button data-modal-hide="default-modal-@Movie.MovieId" type="button"
                                    class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>